/*   ::: RESET :::   */
:where(html, body, header, main, footer, section, article, figure, img, a) {
    width: 100%;
}
:where(html) {
    background: #ececec;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:where(body) {
    margin: 0 160px;
}
:where(img) {
    object-fit: cover;
}
:where(*) {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2ex;
}
:where(button, input, fieldset) {
    border: none;
    appearance: none;
}
:where(input::-webkit-search-cancel-button) {
    display: none;
}
:where(fieldset, figure) {
    display: flex;
    justify-content: center;
}
:where(ul, ol) {
    list-style: none;
}
:where(li) {
    text-indent: 0;
}
:where(a) {
    text-decoration: none;
    color: black;
}
:where(a:visited) {
    color: black;
}



/*   ::: COLOR :::   */
:root {
    --pink: #ffcafd;
    --green: #3ba181;
    --blueViolet: #90a1ff;
    --yellow: #ffd90c;
    --kaki: #f1ece5;
}
.violet {
    color: var(--blueViolet);
}
.violet-bg {
    background-color: var(--blueViolet);
}
.green {
    color: var(--green);
}
.green-bg {
    background-color: var(--green);
}
.pink {
    color: var(--pink);
}
.pink-bg {
    background-color: var(--pink);
}
.yellow {
    color: var(--yellow);
}
.yellow-bg {
    background-color: var(--yellow);
}
.kaki {
    color: var(--kaki);
}
.kaki-bg {
    background-color: var(--kaki);
}
.black-bg {
    background-color: #000000;
}



/*   ::: FONTS :::   */
.font-dangrek {
    font-family: "Dangrek", sans-serif;
}
.font-uchen {
    font-family: "Uchen", serif;
}  



/*   ::: TEXT :::   */
h1 {
    background: linear-gradient(black,var(--blueViolet));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
}
.slide01__title {
    font-size: 210px;
    font-weight: 200;
    line-height: 160px;
    display: flex;
    justify-content: space-between;
}
.slide01__description {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
.slide01__text01, .slide01__text03 {
    font-size: 35px;
    line-height: 40px;
}
.slide01__text01 {
    white-space: nowrap;
}
.slide01__text02 {
    font-size: 60px;
    line-height: 65px;
    position: relative;
    left: 40px;
}
.slide02__title {
    font-size: 210px;
}
.card__title {
    font-size: 150px;
    line-height: 150px;
    font-weight: 100;
    transition: 300ms;
}
.slide03__title {
    font-size: 80px;
    margin: 100px 80px;
}
.slide03__arrow::before,.slide03__arrow::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 45px;
    border-radius: 100% 100% 0 0;
    background-color: var(--yellow);
}
.slide03__arrow {
    position: relative;
    transform: translateX(200px);
}
.slide03__arrow::before {
    transform: rotate(-45deg);
    transform: translateX(40px);
}
.slide03__arrow::after {
    transform: rotate(45deg);
    transform: translateX(61px);
}




/*   ::: IMAGES :::   */
img {
    border-radius: 40px;
}



/*   ::: CONTAINERS :::   */
body {
    height: 100%;
}
/* .slide {
    display: flex;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none; 
} */
/* .slide::-webkit-scrollbar {
    display: none;
} */
.slide01 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    height: 100%;
    border-bottom-left-radius: 80px;
    position: relative;
    top: 0;
    animation: opacity 2s;
}
.slide02 {
    position: relative !important;
    border-top-right-radius: 40px;
}
.slide02__wrapper {
    border-top-right-radius: 80px;
    z-index: 2;
    position: relative;
    padding: 100px 100px 230px 100px;
}
.e {
    content: '';
    position: absolute ;
    right: 0;
    top: -40px;
    width: 100px;
    height: 100px;
    z-index: 1;
    background-color: var(--blueViolet);
}
.card {
    height: 280px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slide03 {
    position: relative;
}
.slide03__grid {
    display: grid;
    grid-template-areas: 
                        "k y ."
                        "g p v";
}
.gird-area01 {
    grid-area: k;
}
.gird-area02 {
    grid-area: y;
}
.gird-area03 {
    grid-area: g;
}
.gird-area04 {
    grid-area: p;
}
.gird-area05 {
    grid-area: v;
}
.card__description {
    font-size: 36px;
    font-weight: 100;
}
.chat {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    width: 60px;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: var(--kaki) solid 4px;
    outline: var(--blueViolet) solid 1px;
    box-shadow: 4px 0 8px -1px #2139;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: 600ms;
    z-index: 1;
}
.chat:hover {
    transform: scale(1.2);
}



/*   ::: ICONS :::   */
[class*="star"] {
    position: absolute;
    bottom: 70px;
    animation: spin 60s reverse linear;
}
[class*="star"], [class*="star"]::before, [class*="star"]::after {
    display: inline-block;
    height: 100px;
    width: 40px;
    border-radius: 100% 0 100% 0;
    background: linear-gradient(var(--yellow),var(--blueViolet));
    position: relative;
    left: 20px;
}
[class*="star"]::before, [class*="tar"]::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}
[class*="star"]::before {
    transform: rotate(120deg);
}
[class*="star"]::after {
    transform: rotate(240deg);
}



/*   ::: ANIMATIONS ::: */
/* spin */
@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1350deg);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card__title:hover {
    transform: scale(0.9);
}
